@model Garage3.Models.ParkingSpot

@{
    ViewData["Title"] = "Create";
}

<h4>Create Parking Spot</h4>
<div class="border border-light-subtle p-2 border-opacity-10 rounded border-1">
    <div class="row justify-content-between p-2">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="SpotNumber" class="control-label"> Spot Number</label>
                    <input asp-for="SpotNumber" class="form-control" placeholder="A1,A2,B1,B2,..." />
                    <span asp-validation-for="SpotNumber" class="text-danger"></span>
                </div>
                @* <div class="form-group mb-3">
                    <label asp-for="SpotSize" class="control-label">Spot Size</label>
                    <select asp-for="SpotSize"
                            asp-items="ViewBag.SpotSize"
                            class="form-control">
                    </select>
                    <span asp-validation-for="SpotSize" class="text-danger"></span>
                </div> *@
                <div class="form-group form-check mb-3">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsBlocked" />
                        Is Blocked
                    </label>
                </div>
                <div class="form-group mb-3">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
